VITE_AUTH_SERVICE_URL=/api
VITE_AUTH_PROXY_TARGET=http://127.0.0.1:8001
VITE_CORE_SERVICE_URL=/core-api
VITE_CORE_PROXY_TARGET=http://127.0.0.1:8002
VITE_AI_SERVICE_URL=/ai-api
VITE_AI_PROXY_TARGET=http://127.0.0.1:8003
